Repository Azure/azure-sdk-for-ios, pull requests merged in 2023-12, with the labels that each got.

#1661 Add MicrosoftTeamsAppIdentifier
  sdk/communication/AzureCommunicationCommon/CHANGELOG.md
  sdk/communication/AzureCommunicationCommon/Source/Identifiers.swift
  sdk/communication/AzureCommunicationCommon/Tests/CommunicationIdentifierTest.swift
  sdk/communication/AzureCommunicationCommon/Tests/CreateCommunicationIdentifier.swift
Labels: Communication - Common

#1666 Sync eng/common directory with azure-sdk-tools for PR 7385
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#1669 AzureCommunicationCalling 2.8.0-beta.2
  sdk/communication/AzureCommunicationCalling/AzureCommunicationCalling.podspec.json
  sdk/communication/AzureCommunicationCalling/AzureCommunicationCalling.xcodeproj/project.pbxproj
  sdk/communication/AzureCommunicationCalling/CHANGELOG.md
Labels: Communication
